.calc__number {
  width: 200px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
}

.calc .calc__number button {
  display: flex;
  width: 63px;
  height: 50px;
  background-color: red;
}
.calc__display input {
  width: 185px;
  height: 150px;
}
